<!doctype html>
<html ng-app="dndApp">
  <head>
    <title>DoNotDisturb Timer</title>
    <meta charset="utf-8">
    <meta name="description" content="Visual timer to prevent disturbance from others">
    <meta name="author" content="Jer Lance <me@jerlance.com>">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="dnd-server.js"></script>
    <script src="filters.js"></script>
    <link rel="stylesheet" type="text/css" href="dnd.css" />
  </head>
  <body>
    <div ng-controller="TimerCtrl" ng-init="init">
        <div id="timer" id="timer">{{displayTime.h | twoDigit}}:{{displayTime.m | twoDigit}}:{{displayTime.s | twoDigit}}</div>
        <div id="controlGroup">
            <div id="networkStatus" class="{{networkStatus}}">&sect;</div>
            <div id="timeControl">
                <button type="button" data-ng-click="control()">{{controlButton}}</button>
            </div>
            <div id="timeSetting" class="{{statusClass}}">
                <input type="text" ng-model="timeSetting" placeholder="{{timeClock}}" />
            </div>
        </div>
        <div id="myStatus" class="{{statusClass}}">{{statusText}}</div>
        <div id="footer">
            <div id="copyright">&copy;2013 Jer Lance &lt;me@jerlance.com&gt;</div>
        </div>
    </div>
  </body>
</html>
